
.rightside{
  float: right;
}

.scrollto-top{
  position: fixed;
  top: auto;
  right: 2.5rem;
  bottom: 2.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container{
  position: relative;
  width: 350px;
}
.photohover{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
}
.photohover1{
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 350px;
  display: none;
}
.container:hover .photohover1{
  background-color: white;
  display: flex;
}
