@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost',"Poppins", sans-serif;
}
/*kaung htet paing*/



/*pt*/



/*yannaing*/






/* Kaung Wint Shein*/
ul li{
  list-style: none;
  text-transform: capitalize;
}
.h2{
  font-size: 2.83333rem;
  line-height: 1.17647;
  font-weight: 400;
  color: #181818;;
  margin-bottom: 0.66667rem;
}
.h4{
  text-transform: uppercase;
  font-size: 1.41667rem;
  line-height: 1.64706;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2.66667rem;
}
.p-join{
  color: #686868;
}
.input-mail{
  border: none;
  /* border-bottom: 1px solid #686868; */
}
.subscribe-email{
  border-bottom: 1px solid #686868;
}
.footer-bg-color{
  background-color: #161616;
  color: #fff;
}
.footer-text-color, .icon, .footer-contact{
  color: #686868;
}
.footer-bottom{
  background-color: #292929;
}
.icon:hover{
  color: white;
  cursor: pointer;
}
.footer-text-color:hover{
  color: white;
  cursor: pointer;
}
html,body{
  font-size: 20px;
}
.row{
  max-width: 1140px;
  margin: 0 auto;
}
.full_row{
  width: 100%;
  height: 600px;
}
section{
  margin: 80px 0px;
}
.clear_fix{
  zoom: 1;
}
.clear_fix::after{
  content: '';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;

}
/* ======================= Button =========================
=================================================================== */
button{
  background-color: black;
  color: white;
  padding:10px 20px;
  margin: 20px 0 0 15%  ;
  border: 1px solid black;
  border-radius:5px;
}
/* =======================Container 6=========================
=================================================================== */
 .work_step div{
   display: inline-block;
   font-size: 3em; 
   float: left;
   margin-right: 15%;
}
.work_step p{
  font-size: 0.7em;
}  

/* =======================Container 7=========================
=================================================================== */
.container_7{
  background-color: #EEEEEE;
  display: grid;
  grid-template-columns:50% 50%;
}

.con7_img1{
  width: 100%;
  height: 100%;
 
}
.con7 p{
  font-size: 0.8em;
  line-height: 1.8;
  width: 60%;
  margin-left: 15%;
  padding-top: 13%;
  
  
}
.con7 p i{
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2; 
} 
.container_7 .con7_img2{
  width: 100%;
  height: 100%;
  
}  
.con7_data{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 40%;
  justify-content: start;
  text-align: center;
  width: 100%;
  padding-bottom: 5%;
}
.con7_data > div i{
  font-size: 2.5em;
  
}

/* =======================Container 8=========================
=================================================================== */
.container_8{
  text-align: center;
}
.container_8 img{
  width: 70px;
  height: 80px;
  display: inline-block;
  float: left;
  margin-right: 20px;
}
.container_8 p{
  font-size: 0.7em;
}
.product_price p{
  font-size: 0.6em;
}
.product_price p span{
  font-size: 16px;
}
/* =======================Container 9=========================
=================================================================== */
.container_9{
  text-align: center;
}
.con9 p{
  font-size: 0.7em;
}
.icon{
  font-size: 3em;
}



